
@page "/admin/envios"
@using GestionLogisticaWeb.Components.Pages.Envios
@inject NavigationManager _navigationManager
@inject IEnvioService _envioService
@inject SweetAlertService _sweetAlert
@rendermode InteractiveServer

<h1 class="text-center my-4">Gestión de Envios</h1>
<div class="container py-4">
    @if (isLoading)
    {
        <div class="d-flex align-items-center justify-content-center my-4">
            <div class="spinner-border text-primary" role="status"></div>
            <span class="ms-2 text-primary">Cargando envios...</span>
        </div>
    }
    else
    {
        <NavLink class="btn btn-primary" href="admin/envios/crear">Nuevo envio</NavLink>
        @if (envios != null && envios.TotalItems > 0)
        {
			// Tabla de envios
            <table class="table table-striped mt-4">
                <thead>
                    <tr>
                        <th>Número de Seguimiento</th>
                        <th>Fecha de Salida</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var envio in envios.Items)
                    {
                        <tr>
                            <td>@envio.NumeroSeguimiento</td>
                            <td>@envio.FechaSalida.ToString()</td>
							<td>@envio.Origen.DireccionCompleta</td>
                            <td>@envio.Destino.DireccionCompleta</td>
                            <td>@envio.Estado</td>
                            <td>
                                <button class="btn btn-sm btn-warning me-2" @onclick="() => Modificar(envio)">Modificar</button>
                                <button class="btn btn-sm btn-danger" @onclick="() => Eliminar(envio)">Eliminar</button>
                            </td>
                        </tr>
                    }
                </tbody>
			</table>
@* 			<NuevoEditarEnvio Entity="@envioCurrent" OnGuardar="Guardar" />
 *@        }
        else
        {
            <div class="alert alert-info" role="alert">
                No hay envios registrados.
            </div>
        }
    }

</div>

@code {
    PagedResult<EnvioDto>? envios = new PagedResult<EnvioDto>();
    EnvioDto envioCurrent = new EnvioDto();
    EnvioFilterDto envioFilter = new EnvioFilterDto
    {
        PageNumber = 1,
        PageSize = 10
	};

    bool isLoading = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                envios = await _envioService.GetEnviosAsync(envioFilter);
            }
            catch (Exception ex)
            {
                // Manejar errores aquí (por ejemplo, mostrar un mensaje al usuario)
            }
            finally
            {
                isLoading = false;
                StateHasChanged();
            }
        }

    }

    private void Modificar(EnvioDto entity)
    {
        _navigationManager.NavigateTo($"admin/envios/editar/{entity.IdEnvio}");
    }

    private void Nuevo()
    {
        envioCurrent = new();
    }

    private async Task Eliminar(EnvioDto entity)
    {
        SweetAlertResult respuesta = await _sweetAlert.FireAsync(new SweetAlertOptions
        {
            Title = "Eliminando envio",
            Text = $"¿Está seguro que desea borrar el envio {entity.NumeroSeguimiento}",
            Icon = SweetAlertIcon.Warning,
            ShowCancelButton = true,
            ConfirmButtonText = "Si, quiero borrarlo!",
            CancelButtonText = "No, espera"
        });
        if (respuesta.IsConfirmed)
        {
            try
            {
                isLoading = true;
                await _envioService.DeleteEnvioAsync(entity.IdEnvio);
                envios = await _envioService.GetEnviosAsync(envioFilter);
                await _sweetAlert.FireAsync("Eliminado", "El envio ha sido eliminado exitosamente.", SweetAlertIcon.Success);
            }
            catch (Exception ex)
            {
                await _sweetAlert.FireAsync("Error", "Hubo un error al eliminar el envio.", SweetAlertIcon.Error);
            }
            finally
            {
                isLoading = false;
            }
        }
    }

    // private async Task Guardar(EnvioDto envioToSave)
    // {
    //     try
    //     {
    //         isLoading = true;
    //         if (envioToSave.IdEnvio == 0)
    //         {
    //             // Nuevo autor
    //             await _envioService.CreateEnvioAsync(envioToSave);
    //             await _sweetAlert.FireAsync("Creado", "El envio ha sido creado exitosamente.", SweetAlertIcon.Success);
    //         }
    //         else
    //         {
    //             // Actualizar autor existente
    //             await _envioService.UpdateEnvioAsync(envioToSave.IdEnvio, envioToSave);
    //             await _sweetAlert.FireAsync("Actualizado", "El envio ha sido actualizado exitosamente.", SweetAlertIcon.Success);
    //         }
    //         envios = await _envioService.GetEnviosAsync(envioFilter);
    //     }
    //     catch (Exception ex)
    //     {
    //         await _sweetAlert.FireAsync("Error", "Hubo un error al guardar el envio.", SweetAlertIcon.Error);
    //     }
    //     finally
    //     {
    //         isLoading = false;
    //         StateHasChanged();
    //     }
    // }
}
